/*import google fonts here*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #151515;
}

.movie-card {
    margin-top: 5rem;
    height: 1150px;
    text-align: center;
    overflow: hidden;
}

.movie-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    transform: translateY(-200px);
    animation: slide-from-top 1.7s ease-in-out forwards;
}

@keyframes slide-from-top {
    80% {transform: translateY(5px);}
    100% {transform: translateY(0);}
}

.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(95, 93, 93, 0.719);
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}

.modal-content {
    background-color: whitesmoke;
    margin: 5% auto;
    padding: 5rem;
    width: 600px;
    height: 600px;
    border-radius: 15px;
    animation: zoom-in 1s;
}

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 2rem;
}

.movie-poster-modal {
    width: 300px;
}

.movie-poster-container img {
    margin-top: 2rem;
    height: 500px;
    border-radius: 15px;
    cursor: pointer;
}

.movie-poster-container img:hover {
    transform: scale(1.04);
    box-shadow: 8px 8px 8px -4px rgb(177, 174, 172);
}

.movie-rating {
    display: inline;
    border: 1px solid #151515;
    padding: 0.3rem;
    border-radius: 3.7px;
    margin-right: 0.5rem;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.1rem;
}

.movie-duration:before {
    content:"\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: fade-in 1.7s ease-in-out forwards;
}

@keyframes fade-in {
    100% {opacity: 1;}
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 1.7s ease-in-out forwards;
}

@keyframes bounce {
    70% {transform: translateY(-5px);}
    80% {transform: translateY(5px);}
    100% {transform: translateY(0);}
}

.carousel-heading {
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.carousel {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}

.carousel img {
    width: 100%;
    border-radius: 15px;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

.carousel .carousel__item--visible {
    display: block;
    animation: fadeIn 0.55s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.carousel .carousel__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel__actions button {
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgba(141, 132, 121, 0.726);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.856);
    margin: 0.5rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}

